/*font-loading*/

@font-face {
    font-family: youblockhead;
    src: url(fonts/YouBlockhead.ttf);
}

@font-face {
    font-family: rubik;
    src: url(fonts/Rubik-VariableFont_wght.ttf);
}



/*formatage*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



/*sticky header*/

header{
    position: sticky;
    top: 0;
}



/*flex*/

.bandeau {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
    justify-content: space-between;
}

row {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    background-color: rgb(30,30,30);
    padding: 5%;
    padding-bottom: 10%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 300px;
}

article2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
    padding-right: 5;
    padding-left: 10;
    margin-bottom: 10%;
}

row2 {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

left {
    display: flex;
    align-items: center;
}

right {
    display: flex;
    align-items: center;
}

witch {
    display: flex;
    justify-content: center;
    align-items: center;
}

fwu {
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: end;
}



/*blocs*/

contact  {
    border :2px solid;
    border-radius: 7px;
    align-items: center;
    display: flex;
    width: 140px;
    height: 35px;
    justify-content: center;
    padding-top: 1%;
}

about {
    margin-left: 15%;
    width: 170px;
}

sec {
    background-color: rgb(40,170, 230);
    font-size: 100%;
    border-radius: 4px;
    width: 180px;
    height: 40px;
    align-items: center;
    display: flex;
}

couv {
    text-align: right;
    padding: 0%;
    object-fit:cover;
}

trend {
    display: flex; 
    height: 100px;  
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

div4{
    justify-content: center;   
    text-align: center;
}

logotcg {
    display: flex;
    align-items: center;
    height: 60px;
}



/*texte*/

a {
    color: transparent;
}

.a {
    color: transparent;
    margin-left: 5%;
}

.about {
    font-family: youblockhead;
    color: white;
}

.contact {
    font-family: youblockhead;
    color: white;
}

.seconnecter {
    font-family: youblockhead;
    justify-content:center;
    color: rgb(30,30,30);
    padding-top: 2.5%;
}

tcgit {
    padding-top: 2%;
    width: 320px;
    font-family: youblockhead;
    font-size: 120px;
    text-align: center;
}


trd {
    font-family: youblockhead;
    font-size: 45px;
    color: rgb(30, 30, 30);
    margin-top: 0.3%;
}

description {
    font-family: youblockhead   ;
    font-size: 20px;
    cursor: pointer;
}

TCG {
    font-family: rubik;
    color: white;
    font-size: 30px;
    margin-left: 20%;
    font-weight: 600;
}

follow {
    font-family: youblockhead;
    color: white;
    font-size:20px;
    margin-right: 1%;
}



/*images*/

.logo {
    margin-left: 2%;
}

.graph {
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 0.5%;
    height: 60px;
}

.img1 {
    height:300px ;
    margin-right;10%:
}

.back{
    border-radius: 40px;
}


.logo3 {
    height: 5Opx;
    width: 50px;
}

.logo2 {
    height: 60px;
}

.yt {
    height: 30px;
}

.x {
    height: 30px;
}
.ig {
    height: 30px;
}

.fc {
    height: 30px;
}
/*hover*/

.seconnecter:hover {
    cursor:pointer;
}

.contact:hover {
    cursor:pointer;  
}

.about:hover {
    cursor:pointer;
}

trend:hover {
    cursor:pointer;
}

tcgit:hover {
    cursor:pointer;
}

follow:hover {
    cursor:pointer;
}

tcg:hover {
    cursor:pointer;
}

